:root {
  font-family: 'Lobster Two', Arial;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

body {
  min-height: 100%;
  background: linear-gradient(
    to bottom right,
    var(--primary-gradient-3), 
    var(--primary-gradient-2), 
    var(--primary-gradient-1),
    var(--primary-gradient-1)
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.layout {
  display: grid;
  grid-template-columns: clamp(200px, 25vw, 400px) 1fr clamp(200px, 25vw, 400px);
  height: 100vh;
}

#main, #menu {
  height: 100%;
}