#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
  padding: 40px;
}

#main .projects {
  display: flex;
  justify-content: space-between;
}

.tab {
  display: flex;
  align-items: center;
  width: clamp(100px, 20vw, 350px);
  height: clamp(50px, 5vh, 150px);
  background: linear-gradient(to right, var(--secondary-gradient-1), var(--secondary-gradient-2));
  border-radius: 7px;
}

.projects > div > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tab-title {
  color: white;
  font-size: 1.6rem;
  margin-left: 10px;
}

.grid-boxes {
  display: grid;
  height: 100%;
  grid-template: 1fr 1fr 1fr / repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-box {
  position: relative;
  background-color: var(--secondary-dark);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.zoom-icon,
.zoom-icon-2 {
  position: absolute;
  width: 25px;
  bottom: 15px;
  right: 15px;
  z-index: 10;
}

.zoom-icon:hover {
  animation: gentleRotate 1s ease-in-out;
}

@keyframes gentleRotate {
  0%   { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.line {
  width: 10px;
  height: 100%;
  position: absolute;
  background: linear-gradient(var(--secondary-gradient-1), var(--secondary-gradient-2));
}

.grid-box .selected-line {
  background: var(--secondary-highlight-1);
}

.quick-links-imgs {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.quick-links-imgs img {
  width: clamp(40px, 3vw, 60px);
  height: clamp(50px, 3vh, 60px);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
  background-color: var(--primary-dark);
}

.box-image {
  width: 100%;
  height: 100%;
  opacity: 60%;
  padding-left: 10px;
}