#menu {
  background-color: var(--primary-dark);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  gap: 10px;
}

.star-logo {
  width: clamp(50px, 4vw, 50px);
  height: auto;
}

.dashboard-logo {
  width: clamp(180px, 10vw, 180px);
  height: auto;
}

.menu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50%;
  transform: translateX(-50%);
  gap: 40px;
}

.menu button {
  color: var(--secondary-highlight-2);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.menu .active {
  color: var(--secondary-highlight-1);
}

.menu-text {
  display: flex;
  gap: 20px;
}

.menu-text img {
  width: 22px;
  height: 22px;
}