:root {
  --primary-gradient-1: #3E2F5B;
  --primary-gradient-2: #262543;
  --primary-gradient-3: #0D1B2A;
  --primary-dark: #19182D;
  --secondary-gradient-1: #7EB4DE;
  --secondary-gradient-2: #C3B2E6;
  --secondary-highlight-1: #EBCA50;
  --secondary-highlight-2: #FFFFFF;
  --secondary-dark: #7C7C7C;
}